<%- include("../partials/header") %>
<body class="map1">

    <h1 class="title1"><a href="/TTE/showLesson" >BEGINNER 1 </a> Map</h1>
    <!-- <div class='w3-display-topmiddle container' style="text-align: center;">
      <% if (error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if (success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div> -->
    <div class="w3-display-topleft">
      <div class="middle">
        <div class="sm-container">
          <i class="show-btn fas fa-angle-double-down"></i>
          <div class="sm-menu">
            <a href="/TTE/profile"><i class="fas fa-user-edit"></i></a>
            <a href="/TTE/showLesson"><i class="fas fa-map-marked-alt"></i></a>
            <a href="/explore"><i class="fas fa-book"></i></i></a>
            <a href="/aboutus"><i class="fas fa-address-book"></i></a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
            
          </div>
        </div>
      </div>
      <a style="padding-left: 60%;" href="/">
        <img id="logo" src="/image/logo.png"  width="100" height="100">
      </a> 
    </div>

      <a class="l1" href="/TTE/showLesson/<%= allLesson[0]._id%>">1</a>
      <a class="l2" href="/TTE/showLesson/<%= allLesson[1]._id%>">2</a>
      <a class="l3" href="/TTE/showLesson/<%= allLesson[2]._id%>">3</a>
    
      <script>
        $(".show-btn").click(function(){
          $(".sm-menu").fadeToggle("fast");
        });
      </script>



    <svg id="map-w-legend" viewBox="0 0 305 338">
      <defs>
        <path id="bolt" d="M10.275,7.6156 L7.466,10.6726 L4.445,13.5366 L1.55,16.7156 L2.498,13.0916 L3.454,9.6926 L0.308,9.7976 L3.19,6.7416 L6.255,3.9026 L9.305,0.9626 L7.243,7.4636 L10.275,7.6156 Z"></path>
        <path id="trolley-stop" d="M2.56628571,0 L0,2.53028571 L0,6.11614286 L2.56628571,9 L6.15214286,9 L9,6.11614286 L9,2.53028571 L6.15214286,0 L2.56628571,0 Z"></path>
        <circle id="dot" r="1.5"></circle>
        <rect id="label-square" width="10" height="10"></rect>
        <path id="logo-hb-ball" d="M14.385,10.725 L12.377,8.547 L15.084,8.547 C14.823,8.939 14.402,9.723 14.385,10.725 L14.385,10.725 Z M13.563,13.379 L12.139,11.812 C12.072,11.655 11.638,10.538 12.083,8.716 L14.401,11.229 C14.189,11.454 13.586,12.196 13.563,13.379 L13.563,13.379 Z M11.766,13.883 C10.136,14.172 9.064,14.79 8.401,15.332 L8.401,14.442 L9.77,12.031 C9.978,11.938 10.933,11.564 11.899,12.039 L13.436,13.73 C13.084,13.731 12.481,13.757 11.766,13.883 L11.766,13.883 Z M4.705,13.883 C3.991,13.757 3.389,13.731 3.037,13.73 L4.576,12.039 C5.543,11.564 6.498,11.938 6.706,12.031 L8.071,14.443 L8.071,15.332 C6.984,14.442 5.66,14.053 4.705,13.883 L4.705,13.883 Z M2.07,11.23 L4.393,8.715 C4.838,10.539 4.404,11.656 4.336,11.812 L2.908,13.381 C2.886,12.197 2.283,11.455 2.07,11.23 L2.07,11.23 Z M1.387,8.547 L4.099,8.547 L2.086,10.727 C2.069,9.723 1.648,8.939 1.387,8.547 L1.387,8.547 Z M2.08,5.977 L4.104,8.217 L1.41,8.217 C1.972,7.45 2.077,6.536 2.08,5.977 L2.08,5.977 Z M2.862,3.332 L4.329,4.945 C4.391,5.152 4.722,6.384 4.385,8.035 L2.088,5.493 C2.644,4.749 2.813,3.865 2.862,3.332 L2.862,3.332 Z M6.888,2.288 C7.431,1.994 7.827,1.681 8.071,1.462 L8.071,2.322 C7.567,3.216 6.839,4.506 6.705,4.737 C5.685,5.277 4.734,4.813 4.58,4.729 L3.066,3.066 C4.765,3.208 6.072,2.732 6.888,2.288 L6.888,2.288 Z M9.583,2.288 C10.399,2.732 11.707,3.208 13.407,3.066 L11.896,4.729 C11.74,4.813 10.79,5.277 9.771,4.737 C9.637,4.506 8.906,3.216 8.401,2.322 L8.401,1.462 C8.645,1.681 9.04,1.994 9.583,2.288 L9.583,2.288 Z M14.383,5.494 L12.091,8.035 C11.754,6.384 12.084,5.152 12.146,4.945 L13.609,3.334 C13.659,3.867 13.827,4.75 14.383,5.494 L14.383,5.494 Z M9.812,9.515 C9.793,9.443 9.729,9.392 9.654,9.391 C9.494,9.389 8.828,9.39 8.401,9.556 L8.401,8.547 L11.784,8.547 C11.401,10.037 11.571,11.088 11.719,11.608 C10.959,11.352 10.259,11.504 9.877,11.634 C9.951,11.202 10.034,10.38 9.812,9.515 L9.812,9.515 Z M8.401,9.921 C8.584,9.791 9.122,9.729 9.522,9.721 C9.748,10.743 9.532,11.699 9.497,11.842 L8.401,13.774 L8.401,9.921 Z M6.978,11.842 C6.943,11.7 6.727,10.746 6.954,9.721 C7.352,9.728 7.888,9.791 8.071,9.922 L8.071,13.772 L6.978,11.842 Z M8.071,8.547 L8.071,9.556 C7.644,9.39 6.981,9.389 6.821,9.391 C6.747,9.392 6.682,9.443 6.664,9.515 C6.442,10.38 6.525,11.202 6.599,11.634 C6.217,11.504 5.517,11.352 4.757,11.608 C4.904,11.088 5.075,10.037 4.692,8.547 L8.071,8.547 Z M6.664,7.251 C6.683,7.322 6.748,7.372 6.821,7.373 C6.831,7.373 6.847,7.374 6.869,7.374 C7.057,7.374 7.663,7.36 8.071,7.201 L8.071,8.217 L4.684,8.217 C4.995,6.807 4.841,5.689 4.723,5.152 C4.953,5.236 5.287,5.325 5.677,5.325 C5.96,5.325 6.273,5.278 6.597,5.15 C6.524,5.595 6.443,6.425 6.664,7.251 L6.664,7.251 Z M6.82,4.696 C6.814,4.696 6.808,4.696 6.802,4.697 C6.797,4.698 6.793,4.699 6.789,4.7 C6.784,4.701 6.779,4.702 6.774,4.703 C6.79,4.698 6.806,4.695 6.823,4.695 C6.826,4.695 6.829,4.695 6.831,4.696 C6.828,4.695 6.824,4.696 6.82,4.696 L6.82,4.696 Z M6.858,4.699 C6.851,4.698 6.844,4.697 6.837,4.696 C6.846,4.697 6.855,4.698 6.864,4.7 C6.862,4.7 6.86,4.7 6.858,4.699 L6.858,4.699 Z M8.071,6.836 C7.856,6.979 7.328,7.036 6.953,7.043 C6.729,6.062 6.943,5.075 6.979,4.923 C6.98,4.92 6.982,4.918 6.983,4.916 C6.994,4.897 7.009,4.87 7.029,4.836 C7.068,4.768 7.123,4.67 7.19,4.553 C7.322,4.319 7.499,4.007 7.675,3.695 C7.814,3.448 7.953,3.202 8.071,2.994 L8.071,6.836 Z M9.493,4.916 C9.494,4.918 9.496,4.92 9.497,4.923 C9.533,5.075 9.748,6.06 9.523,7.043 C9.147,7.036 8.616,6.979 8.401,6.837 L8.401,2.993 C8.519,3.201 8.659,3.448 8.799,3.695 C8.975,4.007 9.152,4.319 9.285,4.553 C9.352,4.67 9.408,4.768 9.447,4.836 C9.466,4.87 9.482,4.897 9.493,4.916 L9.493,4.916 Z M9.612,4.7 L9.612,4.7 C9.618,4.699 9.624,4.698 9.63,4.697 C9.624,4.698 9.618,4.699 9.612,4.7 L9.612,4.7 Z M9.714,4.708 C9.72,4.71 9.725,4.712 9.73,4.715 C9.725,4.712 9.72,4.71 9.714,4.708 L9.714,4.708 Z M9.709,4.706 C9.707,4.705 9.705,4.704 9.703,4.704 C9.695,4.701 9.687,4.699 9.679,4.698 C9.678,4.698 9.676,4.697 9.675,4.697 C9.667,4.696 9.66,4.695 9.652,4.695 C9.65,4.695 9.648,4.696 9.647,4.696 L9.64,4.696 C9.637,4.696 9.634,4.696 9.631,4.697 C9.66,4.693 9.687,4.697 9.712,4.707 C9.711,4.706 9.71,4.706 9.709,4.706 L9.709,4.706 Z M8.401,7.201 C8.81,7.36 9.418,7.374 9.607,7.374 C9.628,7.374 9.645,7.373 9.654,7.373 C9.728,7.372 9.792,7.322 9.811,7.251 C10.032,6.425 9.952,5.595 9.879,5.15 C10.203,5.278 10.516,5.325 10.799,5.325 C11.189,5.325 11.523,5.236 11.752,5.152 C11.635,5.689 11.481,6.807 11.792,8.217 L8.401,8.217 L8.401,7.201 Z M9.609,4.701 L9.61,4.701 L9.61,4.701 L9.609,4.701 Z M6.746,4.715 C6.753,4.711 6.76,4.708 6.768,4.705 C6.764,4.707 6.762,4.708 6.758,4.71 C6.754,4.711 6.75,4.713 6.746,4.715 L6.746,4.715 Z M15.061,8.217 L12.371,8.217 L14.391,5.978 C14.394,6.538 14.5,7.45 15.061,8.217 L15.061,8.217 Z M16.306,8.217 L15.484,8.217 C14.652,7.281 14.707,5.942 14.738,5.594 L15.3,4.971 C15.361,4.903 15.355,4.799 15.288,4.738 C15.22,4.677 15.116,4.682 15.055,4.75 L14.609,5.244 C14.007,4.398 13.929,3.344 13.921,2.991 L14.521,2.33 C14.582,2.263 14.577,2.158 14.51,2.097 C14.442,2.036 14.338,2.041 14.277,2.108 L13.741,2.698 L13.734,2.698 C11.947,2.937 10.583,2.453 9.753,2.005 C8.997,1.597 8.534,1.143 8.401,1.003 L8.401,0.165 C8.401,0.074 8.327,0 8.236,0 C8.144,0 8.071,0.074 8.071,0.165 L8.071,1.003 C7.937,1.143 7.474,1.597 6.718,2.005 C5.888,2.453 4.524,2.937 2.737,2.698 L2.731,2.698 L2.194,2.108 C2.133,2.041 2.029,2.036 1.961,2.097 C1.894,2.158 1.889,2.263 1.95,2.33 L2.55,2.989 C2.542,3.342 2.465,4.397 1.862,5.243 L1.416,4.75 C1.355,4.682 1.251,4.677 1.183,4.738 C1.116,4.799 1.11,4.903 1.171,4.971 L1.733,5.593 C1.764,5.94 1.82,7.281 0.987,8.217 L0.165,8.217 C0.074,8.217 0,8.291 0,8.382 C0,8.473 0.074,8.547 0.165,8.547 L0.98,8.547 C1.167,8.791 1.861,9.796 1.742,11.099 L1.173,11.715 C1.111,11.782 1.115,11.887 1.182,11.949 C1.214,11.978 1.254,11.993 1.294,11.993 C1.338,11.993 1.383,11.975 1.415,11.939 L1.846,11.473 C2.06,11.705 2.68,12.494 2.565,13.759 L1.95,14.434 C1.889,14.501 1.894,14.606 1.961,14.667 C1.993,14.696 2.033,14.71 2.072,14.71 C2.117,14.71 2.162,14.692 2.194,14.656 L2.731,14.067 C2.801,14.063 3.616,14.025 4.656,14.21 C6.401,14.521 7.47,15.219 8.071,15.769 L8.071,16.6 C8.071,16.691 8.145,16.765 8.236,16.765 C8.327,16.765 8.401,16.691 8.401,16.6 L8.401,15.769 C9.463,14.796 10.84,14.384 11.815,14.21 C12.86,14.024 13.678,14.063 13.741,14.067 L14.277,14.656 C14.309,14.692 14.354,14.71 14.399,14.71 C14.438,14.71 14.478,14.696 14.51,14.667 C14.577,14.606 14.582,14.502 14.521,14.434 L13.906,13.758 C13.791,12.493 14.412,11.704 14.625,11.473 L15.056,11.939 C15.088,11.975 15.133,11.993 15.177,11.993 C15.217,11.993 15.257,11.978 15.289,11.949 C15.356,11.887 15.36,11.783 15.299,11.716 L14.729,11.098 C14.61,9.795 15.304,8.791 15.491,8.547 L16.306,8.547 C16.397,8.547 16.471,8.473 16.471,8.382 C16.471,8.291 16.397,8.217 16.306,8.217 L16.306,8.217 Z"></path>
      </defs>
    
      <g class="legend" transform="translate(0, 210)">

        <g data-legend-set="1">
    
          <g class="squares">
            <g transform="translate(100, 0)">
              <g class="square" transform="translate(0,0)">
                <use xlink:href="#label-square" />
                <text transform="translate(3.5,6.5)">1</text>
                <text class="text-label" transform="translate(15,7)">LESSON 1 : ARTICLES</text>
              </g>
              <g class="square" transform="translate(0,15)">
                <use xlink:href="#label-square" />
                <text transform="translate(3.5,6.5)">2</text>
                <text class="text-label" transform="translate(15,7)">LESSON 2 : ADVERB VS ADJECTIVE</text>
              </g>
              <g class="square" transform="translate(0,30)">
                <use xlink:href="#label-square" />
                <text transform="translate(3.5,6.5)">3</text>
                <text class="text-label" transform="translate(15,7)">LESSON 3 : SUBJECT-VERB AGREEMENT</text>
              </g>
              
            </g>
          </g>

        </g>

      </g>
    
    
      <g class="map" transform="translate(0, 0)">

        <g class="fills" transform="translate(21, 14)">
          <path d="M194.9096,0.3885 L255.9846,2.2755 L254.0496,4.9835 L253.5126,29.2295 L253.1616,57.4315 L252.1636,159.0225 L253.1236,161.5235 L247.6276,163.0695 L248.7716,71.1315 L247.8886,69.2285 L245.5716,68.8085 L199.8836,84.5205 L200.1626,77.8735 L194.9096,0.3885 Z" class="fill-street-fest"></path>
          <path d="M98.5903,42.7617 L96.8383,73.7757 L76.2003,72.7157 L72.5393,110.6587 L41.4513,110.4947 L39.6223,136.9637 L37.2043,159.2517 L0.6673,154.3457 L4.7923,67.5737 L42.9653,71.4107 L46.5473,71.4887 L48.7303,41.2037 L79.0703,41.1767 L98.5903,42.7617 Z" class="fill-club-hb"></path>
        </g>

       
        <g class="streets" transform="translate(0, -1)">
          <path d="M24.429,121.4617 L26.457,123.1777 L55.012,123.8027 L59.381,123.6457 L61.253,122.0857 L60.629,129.7317 L59.069,127.8587 L26.145,127.0787 L23.181,129.5757 L24.429,121.4617 Z" class="pedestrian-mall"></path>
          <path d="M274.0679,20.566 L272.7169,163.729 L269.5499,163.741 L270.2749,86.129 C270.2809,85.175 269.8489,84.3 269.0739,83.734 C268.3009,83.182 267.3149,83.031 266.4119,83.332 L223.0669,98.069 C222.6399,98.219 222.2629,98.454 221.9559,98.763 L221.6479,93.81 C221.6989,93.859 221.7639,93.906 221.8209,93.947 C222.5789,94.451 223.5099,94.576 224.3719,94.282 L268.3869,79.311 C268.9769,79.105 269.4719,78.722 269.8209,78.233 C270.1579,77.762 270.3629,77.183 270.3689,76.572 L270.9009,20.577 C270.9099,19.895 270.6809,19.252 270.2729,18.739 L274.7319,18.742 C274.3189,19.234 274.0759,19.884 274.0679,20.566 L274.0679,20.566 Z M267.8559,175.779 C267.5739,176.07 267.1989,176.268 266.7699,176.318 C266.7219,176.333 266.6939,176.338 266.6079,176.338 L266.5439,176.341 L228.8529,178.022 C227.7999,178.069 226.9209,177.269 226.8529,176.212 L222.0939,100.926 C222.0639,100.487 222.2089,100.061 222.4529,99.719 C222.6789,99.402 223.0039,99.155 223.3969,99.017 L266.7419,84.28 C267.3309,84.075 267.9719,84.176 268.4839,84.542 C268.9909,84.916 269.2809,85.492 269.2709,86.124 L268.4429,174.441 C268.4429,174.957 268.2219,175.438 267.8559,175.779 L267.8559,175.779 Z M221.1849,177.78 C220.8339,178.168 220.3549,178.391 219.8299,178.421 L183.6169,180.028 C182.5639,180.074 181.6609,179.257 181.6069,178.198 L178.4119,115.791 C178.3879,115.344 178.5259,114.926 178.7699,114.584 C179.0029,114.259 179.3269,114.011 179.7199,113.874 L214.5499,102.025 C215.1189,101.829 215.7269,101.907 216.2269,102.24 C216.7349,102.578 217.0479,103.121 217.0839,103.725 L221.6749,176.372 C221.7049,176.897 221.5279,177.386 221.1849,177.78 L221.1849,177.78 Z M174.6019,180.432 L136.7809,182.106 L94.6579,176.59 C93.6469,176.457 92.9159,175.554 92.9849,174.546 L95.9459,130.942 C96.0179,129.912 96.8679,129.118 97.8969,129.141 L132.9629,129.861 L133.0569,129.867 L170.8399,116.894 C171.4149,116.691 172.0389,116.781 172.5329,117.121 C173.0409,117.46 173.3399,118.005 173.3759,118.608 L176.4439,178.405 C176.4929,179.472 175.6699,180.384 174.6019,180.432 L174.6019,180.432 Z M87.1709,174.977 C86.7489,175.326 86.2279,175.47 85.6859,175.403 L63.9289,172.553 C62.9169,172.42 62.1859,171.517 62.2609,170.501 L65.2149,130.296 C65.2809,129.274 66.1479,128.492 67.1759,128.514 L90.8839,128.996 L87.8639,173.628 C87.8239,174.165 87.5809,174.643 87.1709,174.977 L87.1709,174.977 Z M56.4299,170.956 C56.0139,171.297 55.4929,171.441 54.9649,171.372 L24.8299,167.415 C23.8399,167.285 23.1239,166.43 23.1649,165.427 L24.7489,129.392 C24.8649,128.405 25.6959,127.672 26.6969,127.699 L58.1359,128.335 C58.6679,128.347 59.1579,128.573 59.5169,128.965 C59.8759,129.357 60.0539,129.865 60.0139,130.402 L57.1369,169.605 C57.0969,170.142 56.8459,170.614 56.4299,170.956 L56.4299,170.956 Z M25.0409,122.706 C25.5629,123.214 26.2559,123.5 26.9959,123.513 L58.7039,124.169 C59.3799,124.185 60.0169,123.964 60.5179,123.572 L60.1789,128.21 C59.6369,127.662 58.9329,127.356 58.1549,127.328 L26.7149,126.692 C26.0109,126.68 25.3539,126.912 24.8419,127.32 L25.0409,122.706 Z M25.6629,121.921 C25.3059,121.543 25.1169,121.052 25.1389,120.539 L25.1339,120.511 L26.5359,88.636 C26.5519,88.254 26.6789,87.903 26.8949,87.602 C26.9759,87.488 27.0649,87.38 27.1709,87.283 C27.5649,86.938 28.0589,86.762 28.5799,86.79 L61.1209,88.877 C61.6499,88.911 62.1199,89.148 62.4569,89.537 C62.7939,89.925 62.9549,90.421 62.9189,90.936 L60.6839,121.38 L60.6799,121.402 C60.5919,122.421 59.7369,123.186 58.7249,123.176 L27.0169,122.52 C26.4989,122.506 26.0199,122.299 25.6629,121.921 L25.6629,121.921 Z M26.9339,79.617 L28.9999,32.312 C29.0229,31.936 29.1509,31.585 29.3599,31.292 C29.6859,30.836 30.1869,30.53 30.7659,30.477 L65.3539,27.549 C65.9209,27.512 66.4699,27.707 66.8729,28.106 C67.2759,28.505 67.4749,29.053 67.4319,29.612 L63.5849,81.937 C63.5099,82.989 62.5959,83.786 61.5459,83.724 L28.7309,81.626 C27.6869,81.556 26.8919,80.656 26.9339,79.617 L26.9339,79.617 Z M73.0529,27.593 C73.3719,27.146 73.8729,26.84 74.4609,26.793 L95.7169,24.995 C96.2759,24.952 96.8329,25.153 97.2279,25.546 C97.6229,25.939 97.8359,26.485 97.7929,27.044 L96.1239,51.809 C96.0549,52.817 95.2069,53.575 94.2059,53.548 L72.8539,52.831 C72.3409,52.808 71.8739,52.585 71.5389,52.211 C71.1959,51.831 71.0289,51.342 71.0649,50.827 L72.7049,28.562 C72.7249,28.207 72.8549,27.87 73.0529,27.593 L73.0529,27.593 Z M69.2239,83.643 C68.8789,83.249 68.7179,82.752 68.7539,82.237 L70.4089,59.675 C70.4779,58.667 71.3209,57.917 72.3219,57.944 L93.7259,58.674 C94.2309,58.69 94.6959,58.9 95.0389,59.28 C95.3809,59.66 95.5489,60.148 95.5179,60.655 L93.9419,83.864 C93.8849,84.769 93.1919,85.516 92.3169,85.64 C92.1909,85.661 92.0489,85.67 91.9049,85.665 L70.5459,84.304 C70.0309,84.268 69.5609,84.031 69.2239,83.643 L69.2239,83.643 Z M91.5299,90.817 C92.5959,90.891 93.4019,91.81 93.3339,92.868 L91.2289,123.835 L67.7569,123.349 C67.2249,123.337 66.7379,123.125 66.3839,122.725 C66.0249,122.333 65.8389,121.819 65.8869,121.288 L68.0929,91.229 C68.1189,90.866 68.2429,90.537 68.4409,90.261 C68.8129,89.74 69.4399,89.413 70.1269,89.449 L91.5299,90.817 Z M104.7959,24.329 L166.2899,19.057 C166.8049,19.007 167.3129,19.174 167.7069,19.517 C168.1099,19.865 168.3469,20.342 168.3769,20.868 L172.8989,109.247 C172.9409,110.1 172.3989,110.893 171.5909,111.163 L131.8909,124.67 L98.4359,123.983 C97.9039,123.971 97.4059,123.738 97.0469,123.347 C96.6879,122.955 96.5099,122.447 96.5459,121.932 L98.5149,92.945 C98.5839,91.937 99.4579,91.16 100.4689,91.207 L117.0209,92.107 C117.7079,92.143 118.3649,91.912 118.8759,91.454 C119.3879,90.996 119.6909,90.365 119.7209,89.686 C119.8009,88.268 118.7099,87.059 117.2999,86.985 L100.8649,86.094 C100.3729,86.062 99.9049,85.839 99.5789,85.47 C99.2439,85.096 99.0769,84.607 99.1149,84.106 L100.7009,60.695 C100.7689,59.688 101.6179,58.93 102.6189,58.957 L118.9839,59.515 C119.6689,59.537 120.3239,59.292 120.8189,58.822 C121.3139,58.353 121.6089,57.716 121.6319,57.031 C121.6829,55.617 120.5669,54.427 119.1479,54.384 L103.0849,53.833 C102.5799,53.816 102.1069,53.601 101.7719,53.227 C101.4299,52.847 101.2619,52.358 101.3009,51.857 L103.0449,26.126 C103.1149,25.168 103.8439,24.423 104.7959,24.329 L104.7959,24.329 Z M173.8839,19.284 C173.9359,19.211 173.9959,19.143 174.0509,19.084 C174.4159,18.693 174.9109,18.482 175.4409,18.48 L209.8739,18.366 C210.2959,18.361 210.6909,18.495 211.0089,18.722 C211.4639,19.048 211.7659,19.571 211.8079,20.166 L216.4979,94.396 C216.5499,95.269 216.0169,96.067 215.1949,96.34 L180.4719,108.143 C179.8969,108.347 179.2719,108.257 178.7699,107.911 C178.2619,107.572 177.9639,107.027 177.9279,106.424 L173.5339,20.496 C173.5119,20.063 173.6339,19.634 173.8839,19.284 L173.8839,19.284 Z M217.5349,18.998 C217.9059,18.599 218.4009,18.387 218.9389,18.391 L267.9819,18.626 C268.2039,18.625 268.4189,18.668 268.5879,18.74 L268.6189,18.749 C269.3949,19.022 269.9039,19.754 269.8969,20.572 L269.3639,76.568 C269.3629,77.378 268.8319,78.104 268.0579,78.362 L224.0419,93.333 C223.4859,93.526 222.8699,93.442 222.3699,93.11 C221.8699,92.777 221.5599,92.248 221.5099,91.647 L217.0079,20.44 C216.9749,19.901 217.1609,19.382 217.5349,18.998 L217.5349,18.998 Z M291.9849,13.568 L218.3489,13.213 C217.3449,13.208 216.5019,12.41 216.4429,11.409 L215.9359,3.328 C215.8859,2.641 215.5799,2.004 215.0589,1.546 C214.5379,1.088 213.8769,0.861 213.1899,0.911 C212.4089,0.955 211.6989,1.346 211.2399,1.988 C210.8909,2.477 210.7249,3.071 210.7639,3.652 L211.2429,11.135 C211.2699,11.682 211.0899,12.193 210.7189,12.591 C210.3599,12.974 209.8589,13.193 209.3339,13.187 L175.0099,13.304 C173.9719,13.312 173.1209,12.508 173.0709,11.477 L172.6679,3.63 C172.6379,2.932 172.3309,2.295 171.8239,1.835 C171.3089,1.369 170.6479,1.142 169.9579,1.178 C168.5709,1.244 167.4149,2.519 167.5059,3.887 L167.9139,11.848 C167.9579,12.887 167.1829,13.783 166.1499,13.869 L75.4529,21.516 C74.8939,21.559 74.3449,21.364 73.9419,20.965 C73.5389,20.566 73.3319,20.013 73.3749,19.454 L73.5649,16.849 C73.6719,15.426 72.5969,14.178 71.1739,14.071 C69.8029,13.977 68.4929,15.105 68.4039,16.468 L68.1019,20.504 C68.0379,21.454 67.2949,22.201 66.3539,22.279 L14.7149,26.641 C13.2879,26.764 12.2339,28.014 12.3489,29.436 C12.4189,30.199 12.8129,30.886 13.4229,31.322 C13.9189,31.676 14.5269,31.84 15.1419,31.788 L21.6949,31.235 C22.2539,31.192 22.7949,31.381 23.1959,31.766 C23.5969,32.151 23.8149,32.688 23.7919,33.237 L21.7689,79.208 C21.7409,79.729 21.5199,80.21 21.1339,80.561 C20.7399,80.906 20.2459,81.081 19.7249,81.053 L11.4509,80.524 C10.0299,80.431 8.7969,81.504 8.7059,82.939 C8.6549,83.836 9.0539,84.687 9.7789,85.204 C10.1609,85.478 10.6249,85.637 11.1179,85.67 L19.5829,86.224 C20.6099,86.282 21.4189,87.18 21.3769,88.219 L19.9619,120.491 C19.9149,121.538 19.0469,122.356 17.9989,122.344 L6.9699,122.109 C6.2799,122.095 5.6199,122.348 5.1269,122.832 C4.6309,123.301 4.3519,123.95 4.3299,124.635 C4.3079,125.491 4.7149,126.298 5.4139,126.798 C5.8459,127.106 6.3529,127.273 6.8639,127.281 L17.6819,127.501 C18.1999,127.515 18.6869,127.728 19.0439,128.106 C19.4029,128.498 19.5929,128.989 19.5649,129.51 L18.0279,164.411 C18.0049,164.96 17.7639,165.451 17.3509,165.807 C16.9289,166.157 16.4019,166.309 15.8519,166.236 L2.9259,164.546 C2.2429,164.452 1.5629,164.629 1.0169,165.05 C0.4639,165.479 0.1059,166.083 0.0259,166.763 C-0.1101,167.711 0.2979,168.654 1.0789,169.212 C1.4289,169.462 1.8339,169.616 2.2519,169.669 L15.9629,171.465 C16.9459,171.602 17.6789,172.469 17.6349,173.458 L17.3299,180.319 C17.2669,181.749 18.3849,182.954 19.8009,183.019 C20.6819,183.059 21.5109,182.655 22.0219,181.939 C22.3189,181.524 22.4759,181.047 22.4999,180.548 L22.7719,174.474 C22.7959,173.925 23.0359,173.434 23.4519,173.092 C23.8659,172.736 24.4069,172.582 24.9489,172.649 L54.7969,176.561 C55.8159,176.699 56.5469,177.603 56.4649,178.613 L55.7759,188.039 C55.6769,189.468 56.7499,190.701 58.1669,190.817 C59.5459,190.917 60.8479,189.783 60.9369,188.42 L61.5969,179.515 C61.6309,178.986 61.8799,178.5 62.2899,178.166 C62.7059,177.824 63.2269,177.68 63.7689,177.748 L85.5709,180.605 C86.5819,180.738 87.3189,181.633 87.2499,182.641 L86.5879,192.443 C86.4889,193.871 87.5759,195.103 88.9909,195.204 C90.3469,195.301 91.6579,194.172 91.7519,192.801 L92.3729,183.573 C92.4039,183.03 92.6609,182.55 93.0779,182.208 C93.4939,181.866 94.0149,181.722 94.5419,181.792 L136.0349,187.313 L174.8959,185.595 C175.4069,185.567 175.8949,185.744 176.2759,186.089 C176.6559,186.434 176.8709,186.908 176.8979,187.419 L177.1079,191.391 C177.1869,192.812 178.4029,193.914 179.8179,193.843 C181.1759,193.782 182.3289,192.565 182.2749,191.126 L182.0689,187.218 C182.0469,186.698 182.2299,186.202 182.5669,185.816 C182.9119,185.436 183.3909,185.213 183.9109,185.191 L220.2369,183.579 C221.2899,183.533 222.1749,184.324 222.2429,185.381 L222.6649,192.135 C222.7149,192.822 223.0199,193.445 223.5349,193.912 C224.0559,194.37 224.7229,194.588 225.4039,194.547 C226.7879,194.467 227.9209,193.174 227.8349,191.798 L227.4209,185.222 C227.3849,184.704 227.5539,184.21 227.8989,183.83 C228.2479,183.428 228.7269,183.205 229.2519,183.175 L266.3619,181.533 C266.8899,181.517 267.3859,181.699 267.7769,182.064 C268.1619,182.438 268.3669,182.941 268.3639,183.479 L268.3269,187.263 C268.3269,187.951 268.5859,188.603 269.0699,189.096 C269.5179,189.552 270.0929,189.815 270.7239,189.86 L270.8979,189.874 C272.3269,189.887 273.4959,188.732 273.5089,187.303 L273.5509,183.031 C273.5529,182.013 274.3599,181.176 275.3849,181.134 L298.9729,180.081 C299.7989,180.044 300.5169,179.623 300.9649,178.997 C301.2849,178.549 301.4639,177.989 301.4499,177.389 C301.4169,176.592 301.0169,175.863 300.3579,175.392 C299.8859,175.055 299.3189,174.884 298.7439,174.915 L275.4869,175.935 C274.9909,175.924 274.5419,175.726 274.1919,175.39 C273.8219,175.015 273.6179,174.526 273.6239,174.001 L275.0669,20.579 C275.0699,19.697 275.6689,18.945 276.4999,18.727 L276.5279,18.723 L276.5499,18.726 C276.7009,18.687 276.8629,18.667 277.0069,18.672 L291.9589,18.748 C293.3849,18.747 294.5549,17.592 294.5619,16.171 C294.5599,15.297 294.1299,14.523 293.4709,14.052 C293.0479,13.75 292.5369,13.57 291.9849,13.568 L291.9849,13.568 Z" class="street-paths"></path>
        </g>
        
        <g class="labels" transform="translate(32, 5)">
          <text class="s2" transform="translate(153, 46) rotate(269)">HANG ON</text>
          <text class="s2" transform="translate(6, 58) rotate(272)">CHILL OUT!</text>
          <text class="s3" transform="translate(70, 133) rotate(0)">ADVERB VS ADJECTIVE</text>
          <text class="s3" transform="translate(69, 95) rotate(2)">YOU CAN DO IT</text>
          <text class="s3" transform="translate(74, 44) rotate(2)">DON'T WORRY</text>
          <text class="s2" transform="translate(65, 8) rotate(-5)">SUBJECT-VERB AGREEMENT</text>
          <text class="s2" transform="translate(250, 135)">KEEP</text>
          <text class="s2" transform="translate(250, 143)">GOING</text>
          <text class="s2" transform="translate(95, 170)">ARTICLE</text>

          
        </g>
        
        <g class="hb-ball" transform="translate(233, 23)">
          <path class="hisam-block" d="M25.7679,32.4559 L3.9749,32.4559 C1.9569,32.4559 0.3209,30.8199 0.3209,28.8019 L0.3209,4.2289 C0.3209,2.2109 1.9569,0.5739 3.9749,0.5739 L25.7679,0.5739 C27.7859,0.5739 29.4219,2.2109 29.4219,4.2289 L29.4219,28.8019 C29.4219,30.8199 27.7859,32.4559 25.7679,32.4559"></path>
          <image href="/image/logo.png" x="0" y="0" height="31px" width="31px"></image>
        </g>

        <g class="trolley" transform="translate(57, 85)">
          
          <path d="M95.7871094,147.833464 L126.683594,148.492839 L133.683594,43.492839 L203.507812,38.258464 L212.140234,203.073568 L169.17513,206.860677 L91.655599,196.648438 L95.7871094,148.133464 Z" class="trolley-path" transform="translate(-90, -108)"></path>
        

      </g>
    </svg>

<%- include("../partials/footer") %>